<script src="https://sdks.shopifycdn.com/js-buy-sdk/v2/latest/index.umd.min.js"></script>


<div class="container">
  <div class="container">
    <h2>{{ section.settings.title_text }}</h2>
    <div id="product-feed"></div>
  </div>
</div>

<style>
    .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
    }
    
    .card strong {
      font-weight: 800;
      color: #111;
    }
    
    .card h5 {
      color: #111;
      font-family: sans-serif;
      font-size: 1.2rem;
    }
    
    .card > hr {
      margin-right: 0;
      margin-left: 0;
    }
    
    .card > .list-group:first-child .list-group-item:first-child {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    
    .card > .list-group:last-child .list-group-item:last-child {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    
    .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
    }
    
    .card-title {
      margin-bottom: 0.75rem;
    }
    
    .card-subtitle {
      margin-top: -0.375rem;
      margin-bottom: 0;
    }
    
    .card-text:last-child {
      margin-bottom: 0;
    }
    
    .card-link:hover {
      text-decoration: none;
    }
    
    .card-link + .card-link {
      margin-left: 1.25rem;
    }
    
    .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    
    .card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
    
    .card-header + .list-group .list-group-item:first-child {
      border-top: 0;
    }
    
    .card-footer {
      padding: 0.75rem 1.25rem;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
    
    .card-footer:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
    
    .card-header-tabs {
      margin-right: -0.625rem;
      margin-bottom: -0.75rem;
      margin-left: -0.625rem;
      border-bottom: 0;
    }
    
    .card-header-pills {
      margin-right: -0.625rem;
      margin-left: -0.625rem;
    }
    
    .card-img-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;
    }
    
    .card-img {
      width: 100%;
      border-radius: calc(0.25rem - 1px);
    }
    
    .card-img-top {
      width: 100%;
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
    }
    
    .card-img-bottom {
      width: 100%;
      border-bottom-right-radius: calc(0.25rem - 1px);
      border-bottom-left-radius: calc(0.25rem - 1px);
    }
    
    .card-deck {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    
    .card-deck .card {
      margin-bottom: 15px;
    }
    
    @media (min-width: 576px) {
      .card-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .card-deck .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
</style>


<script>
    document.addEventListener("DOMContentLoaded", function () {
      var shopifyCollectionTemplate = document.querySelector("#product-feed");
      var token = '{{ section.settings.shopify_token }}';
      var domain = '{{ section.settings.shopify_domain }}';
      var limit = parseInt('{{ section.settings.product_limit }}');
      var showPrice = '{{ section.settings.show_price }}';
    
      async function createClient() {
        var client = await ShopifyBuy.buildClient({
          storefrontAccessToken: token,
          domain,
        });
        return client;
      }
    
      function renderProduct(product) {
        var featuredImage = product.images.length ? product.images[0].src : "";
        var priceRange =
          product.variants.length > 1
            ? `${product.variants[0].price} - ${
                product.variants.slice(-1)[0].price
              }`
            : product.variants[0].price;
    
        return `
          <div class="card">
            <img class="card-img-top" src="${featuredImage}" />
            <div class="card-body">
              <h5 class="card-title">${product.title}</h5>
              ${showPrice === 'true' ? `<p class="card-text"><strong>$${priceRange}</strong></p>` : ""}
            </div>
          </div>
        `;
      }
    
      function renderCollection(products) {
        var template = "";
        products.forEach((product, i) => {
          if (i % 4 === 0) {
            template += `</div><div class="card-deck my-3">`;
          }
          template += renderProduct(product);
        });
    
        shopifyCollectionTemplate.innerHTML = template;
      }
    
      async function initialize() {
        if (token && domain) {
          var client = await createClient();
          var products = await client.product.fetchAll(limit);
          renderCollection(products);
        }
      }
    
      initialize();
    });
</script>

{% schema %}
{
    "name": "Shopify Product Feed",
    "description": "Display list of products from a shopify store.",
    "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "shopify_token",
          "label": "Shopify Access Token"
        },
        {
          "type": "text",
          "id": "shopify_domain",
          "label": "Shopify Domain"
        },
        {
          "type": "range",
          "id": "product_limit",
          "label": "Product Limit",
          "default": 4,
          "min": 4,
          "max": 16,
          "step": 4
        },
        {
          "type": "checkbox",
          "id": "show_price",
          "label": "Display Price"
        }
    ]
}
{% endschema %}